coreutils-runuser-l.pamd
coreutils-su-l.pamd
coreutils-runuser.pamd
coreutils-su.pamd
coreutils-colorls.csh
coreutils-colorls.sh
coreutils-DIR_COLORS.256color
coreutils-DIR_COLORS.lightbgcolor
coreutils-DIR_COLORS
coreutils-8.4.tar.xz
